.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fffff2;
  align-items: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.product {
  padding: 20px;
  border: 1.5px solid;
  border-radius: 12%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

.img-container {
  width: 220px;
  height: 180px;
  overflow: hidden;
  border: 1px solid #464646;
  margin: 10px auto;
  border-radius: 10%;
}

.product-container img {
  max-height: 100%;
  width: auto;
}
